:root {
    --primary-color: #06241b;
    --secondary-color: #023b26;
    --tertiary-color: #014412;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    scroll-padding-top: 60px; /* height of sticky header */
  }

  body {
    color: var(--tertiary-color);
    font-family: URW Chancery L, cursive;
  }

  /* HEADER*/

header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url("./images/Background-website-01.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }

  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 40px;
    color: var(--primary-color);
    text-shadow: 0 0 20px rgba(106, 245, 136, 0.5);
  }
  
  header a {
    text-decoration:underline;
    color: var(--primary-color);
  }
  
  header nav {
    margin: 7px;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(106, 245, 136, 0.5);
  }
  
  header nav ul li a:hover {
    color: var(--secondary-color);
    font-size:30px;
    font-size-adjust: 20px;
    border-radius: 15px;
    text-shadow: none;
  }

  section {
    padding: 0 60px;
  }

  /* About me */
  .about-me h2 {
    color: var(--tertiary-color); 
    text-align: center;
    text-decoration: underline;
    margin: 2%;
    font-size: 40px;
    font-weight: bold;
  }
  
  .my-picture img{
    width: 30%;
    border: var(--primary-color) solid 2px;
    float: right;
  }

  .about-me {
    width: 65%;
    margin: 0 auto;
    justify-content: left;
    flex: 1;
    color: var(--primary-color);
  }
  .skills {
    text-align: right; /* Right-align text */
    padding-top: 2px; /* Add top padding */
    padding-bottom: 2px; /* Add bottom padding */
    color: white; /* White text color */
  }

  .skillbar {
      width: 68%;
  }
  
.html {width: 90%; background-color: #035807;} 
.css {width: 80%; background-color: #0a9e05;} 
.js {width: 30%; background-color: #53a85a;} 


.container {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
  }
  
  .containers h2 {
    text-align: center;
    text-decoration: underline;
    margin: 2%;
    font-size: 40px;
    font-weight: bold;
}  

.links {
    text-align: left;
}

.links a:hover {
    color: var(--secondary-color);
    font-size:30px;
    font-size-adjust: 20px;
    border-radius: 10px;
    text-shadow: none;
}

  /* Hero section */

  .hero {
    background-image: url('./images/Background-website-01.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
  }

/* portfolio */
.portfolio h2 {
    text-align: center;
    text-decoration: underline;
    margin: 2%;
    font-size: 40px;
    font-weight: bold;
}
  .portfolio h3{
      text-align: center;
  }

  .web-text {
      text-align: center;
  }

  .websites {
    justify-content: center;
    display: flex;
    padding: 5px 0 20px 0;

  }

  .web-img img{
      width: 100%;
      padding: 10px;
  }

  .web-info p {
      text-align: center;
  }

  .web-img:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
}
  /* Section styles title */
.section-title {
    font-size: 48px;
    border-bottom: 3px solid;
    color: var(--secondary-color);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
  }

/* Contact */
.contact {
    background: rgba(156, 252, 159, 0.3);
    align-items: center;
  }
  
  .contact h2 {
    text-align: center;
    text-decoration: underline;
    color: var(--primary-color);
    font-size: 35px;
    line-height: 1.5;
    text-align: center;
    margin: 2%;
    font-size: 40px;
    font-weight: bold;
  }

  .contact h3 {
      color: var(--secondary-color);
      font-size: 15px;
      margin: 20px 0;
      line-height: 1.5;
      text-align: center;
  }

  .contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .contact > * {
    flex: 1;
    margin: 15px;
  }

  .contact div {
    color: rgb(193, 253, 203);
  }

  .contact-form button {
    height:50px;
    width:90px;
    border: none;
    background: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .contact-form input, .contact-form textarea {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.75);
  }
  
  .contact-form input:focus, .contact-form textarea:focus {
    background-color: rgba(255,255,255, 1);
    outline: none;
  }

  .contact-form button:hover {
    color: white;
    background: var(--tertiary-color);
  }

  @media screen and (max-width: 600px) {
.websites {
    flex-direction: column;
}

header {
  padding: 20px 110px;
  justify-content: center;
}

header h1 {
  text-align: center;
}
h1 a {
  font-size: large;
}

section {
  padding: 0 80px;
}

.about-me {
  padding: 10px;
  min-width: 400px;
  text-align: center;
}
.about-me-info {
    flex-direction: column;
}

.my-picture img{
    float:none;
    height: 100px;
    width: 70px;
  }
}
